<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento de Barcos</title>
    <link th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/scss/custom.css}" rel="stylesheet">
</head>

<body class="bg-light">
    
    <!--Aquí va el header-->
    <header th:replace="~{fragments/headerAdmin :: wiwi}"></header>
    <div class="container py-5">
        <h2 class="mb-4">Mantenimiento de Barcos</h2>
        <div th:if="${errorMsg}" class="alert alert-danger">
            <p th:text="${errorMsg}"></p>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <form th:object="${barco}" enctype="multipart/form-data">
                    <div class="row g-3">
                        <div class="col-md-3">
                            <label for="idBarco" class="form-label">ID Barco</label>

                            <input type="text" class="form-control" id="idBarco" th:field="*{idBarco}"
                                placeholder="Código" required>

                            <button type="submit" class="btn btn-ocean me-auto mt-2" 
                            th:formaction="@{/Mantenimiento/barcoMant/buscarbarco}" th:formmethod="get">Buscar</button>
                        </div>
                        <div class="col-md-5">
                            <label for="nombreBarco" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombreBarco" th:field="*{nombreBarco}"
                                placeholder="Nombre del barco" >
                        </div>
                        <div class="col-md-4">
                            <label for="capitanBarco" class="form-label">Capitán</label>
                            <input type="text" class="form-control" id="capitanBarco" th:field="*{capitanBarco}"
                                placeholder="Nombre del capitán" >
                        </div>

                        <div class="col-md-6">
                            <label for="modeloBarco" class="form-label">Modelo</label>
                            <select class="form-select" id="modeloBarco" th:field="*{modeloBarco}" required>
                                <option th:each="m : ${modelos}" th:value="${m.modeloBarco}" th:text="${m.modeloBarco}">Modelo</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="imgURLbarco" class="form-label">Imagen URL</label>
                            <input type="text" class="form-control" id="imgURLbarco" th:field="*{imgURLbarco}"
                                placeholder="Imagen URL del barco" >
                        </div>

                        <div class="col-md-9">
                            <label for="descripcionBarco" class="form-label">Descripción</label>
                            <input type="text" class="form-control" id="descripcionBarco" th:field="*{descripcionBarco}"
                                placeholder="Descripción pequeña del Barco.">

                        </div>

                        <div class="col-12">
                            <label for="rutasBarco" class="form-label">Rutas Asignadas</label>
                            <select class="form-select" id="rutasBarco" th:field="*{idsrutasbarco}" multiple size="5">
                                <option th:each="r : ${rutasDisponibles}" th:value="${r.Idruta}" th:text="${r.nombreruta}">Ruta
                                </option>
                            </select>
                            <small class="form-text text-muted">Mantén Ctrl (o Cmd) para seleccionar múltiples
                                rutas.</small>
                        </div>
                    </div>

                    <div class="mt-4 d-flex justify-content-between">
                        <div>
                            
                            <button type="submit" class="btn btn-warning me-2" 
                                th:formaction="@{/Mantenimiento/barcoMant/editarbarco}"
                                th:formmethod="post">Editar</button>
                            <button type="submit" class="btn btn-danger"
                                th:formaction="@{/Mantenimiento/barcoMant/eliminarbarco}"
                                th:formmethod="post">Eliminar</button>
                        </div>
                        <button type="submit" class="btn btn-apple"
                                th:formaction="@{/Mantenimiento/barcoMant/crearbarco}"
                                th:formmethod="post">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    
    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>

</html>