<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- Definimos un fragmento llamado "navBar" -->
    <nav th:fragment="navBar" class="navbar navbar-expand-lg bg-header">
        <div class="container-fluid">
            <i class="bi bi-tsunami" style="color: aliceblue;"></i>
            <a class="navbar-brand text-white ms-2" th:href="@{/main}">TuCrucerito.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/rutas}">Rutas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/paquetes}">Paquetes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/barcos}">Barcos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/comprar}">Comprar</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="btn btn-outline-light nav-link ms-2" th:href="@{/Mantenimiento/login}">Iniciar Sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>