<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- Definimos un fragmento llamado "navBar" -->
    <nav th:fragment="wiwi" class="navbar navbar-expand-lg bg-header">
        <div class="container-fluid">
            <i class="bi bi-tsunami" style="color: aliceblue;"></i>
            <a class="navbar-brand text-white ms-2">TuCrucerito.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/Mantenimiento/barcoMant}">Barcos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/Mantenimiento/rutaMant}">Rutas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/Mantenimiento/paqueteMant}">Paquetes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/Mantenimiento/reportes}">Reportes</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/main}">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>