<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <!-- Definición del fragmento footerContent -->
    <footer th:fragment="footerContent" class="row row-cols-5 py-5 mt-5 p-2 border-top bg-header text-white">
        <div class="col">
            <a th:href="@{/main}" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><!-- contenedor gráfico BootstrapIcons -->
                    <use xlink:href="#bootstrap" /><!-- referencia icono predeterminado -->
                </svg>
            </a>
            <p class="text-white">&copy;2025 TuCrucerito Corp.</p>
        </div>

        <div class="col">
            <!-- espacio vacío o logo adicional -->
        </div>

        <div class="col">
            <h5>Info</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a th:href="@{/main}" class="nav-link p-0 text-muted">Términos y condiciones</a>
                </li>
                <li class="nav-item mb-2">
                    <a th:href="@{/main}" class="nav-link p-0 text-muted">Más sobre nosotros</a>
                </li>
                <li class="nav-item mb-2">
                    <a th:href="@{/main}" class="nav-link p-0 text-muted">Contáctanos</a>
                </li>
                <li class="nav-item mb-2">
                    <a th:href="@{/main}" class="nav-link p-0 text-muted">FAQs</a>
                </li>
            </ul>
        </div>

        <div class="col">
            <h5>Redes Sociales</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="https://www.instagram.com" class="nav-link p-0 text-muted" target="_blank">Instagram</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="https://www.facebook.com" class="nav-link p-0 text-muted" target="_blank">Facebook</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="https://x.com" class="nav-link p-0 text-muted" target="_blank">X</a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>